In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("MyTestData.csv")

In [4]:
df.head(10)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

No Column Names there is feature set. Add the Column Name

In [21]:
Name=['sepal-len','sepal-wid','petal-len','petal-wid','class']
df = pd.read_csv("MyTestData.csv",names=Name,header=0)

In [22]:
df.head(10)

   sepal-len  sepal-wid  petal-len  petal-wid        class
0        4.9        3.0        1.4        0.2  Iris-setosa
1        4.7        3.2        1.3        0.2  Iris-setosa
2        4.6        3.1        1.5        0.2  Iris-setosa
3        5.0        3.6        1.4        0.2  Iris-setosa
4        5.4        3.9        1.7        0.4  Iris-setosa
5        4.6        3.4        1.4        0.3  Iris-setosa
6        5.0        3.4        1.5        0.2  Iris-setosa
7        4.4        2.9        1.4        0.2  Iris-setosa
8        4.9        3.1        1.5        0.1  Iris-setosa
9        5.4        3.7        1.5        0.2  Iris-setosa

In [23]:
df.tail(10)

     sepal-len  sepal-wid  petal-len  petal-wid           class
137        6.9        3.1        5.4        2.1  Iris-virginica
138        6.7        3.1        5.6        2.4  Iris-virginica
139        6.9        3.1        5.1        2.3  Iris-virginica
140        5.8        2.7        5.1        1.9  Iris-virginica
141        6.8        3.2        5.9        2.3  Iris-virginica
142        6.7        3.3        5.7        2.5  Iris-virginica
143        6.7        3.0        5.2        2.3  Iris-virginica
144        6.3        2.5        5.0        1.9  Iris-virginica
145        6.5        3.0        5.2        2.0  Iris-virginica
146        6.2        3.4        5.4        2.3  Iris-virginica

In [8]:
df.shape

(147, 5)

size of data frame(rows*col)

In [10]:
df.size

735

length of data frame

In [11]:
len(df)

147

In [13]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

extract single column

In [27]:
df['sepal-len'].sum()

861.2

In [28]:
df['sepal-len'].head(10)

0    4.9
1    4.7
2    4.6
3    5.0
4    5.4
5    4.6
6    5.0
7    4.4
8    4.9
9    5.4
Name: sepal-len, dtype: float64

first five rows

In [35]:
df['sepal-len'][:5]

0    4.9
1    4.7
2    4.6
3    5.0
4    5.4
Name: sepal-len, dtype: float64

In [39]:
df[['sepal-len','class']][5:10]

   sepal-len        class
5        4.6  Iris-setosa
6        5.0  Iris-setosa
7        4.4  Iris-setosa
8        4.9  Iris-setosa
9        5.4  Iris-setosa

In [40]:
df['sepal-len'].count()

147

In [42]:
df['sepal-len'].value_counts()

5.0    10
6.3     9
6.7     8
5.1     8
5.7     8
6.4     7
5.5     7
5.8     7
6.0     6
4.9     6
6.1     6
5.6     6
5.4     6
6.5     5
4.8     5
4.6     4
7.7     4
6.9     4
5.2     4
6.2     4
4.4     3
7.2     3
6.8     3
5.9     2
6.6     2
4.7     2
4.5     1
7.0     1
7.4     1
7.9     1
5.3     1
7.1     1
7.6     1
7.3     1
Name: sepal-len, dtype: int64