In [1]:
import numpy as np
import pandas as pd

In [3]:
headers=['sepal_len','sepal_width','petal_len','petal_width','class']
df = pd.read_csv('myTestData.csv', header=None,names=headers)

In [4]:
df.head(10)

   sepal_len  sepal_width  petal_len  petal_width        class
0        5.1          3.5        1.4          0.2  Iris-setosa
1        4.9          3.0        1.4          0.2  Iris-setosa
2        4.7          3.2        1.3          0.2  Iris-setosa
3        4.6          3.1        1.5          0.2  Iris-setosa
4        5.0          3.6        1.4          0.2  Iris-setosa
5        5.4          3.9        1.7          0.4  Iris-setosa
6        4.6          3.4        1.4          0.3  Iris-setosa
7        5.0          3.4        1.5          0.2  Iris-setosa
8        4.4          2.9        1.4          0.2  Iris-setosa
9        4.9          3.1        1.5          0.1  Iris-setosa

In [5]:
df.describe(include='all')

         sepal_len  sepal_width   petal_len  petal_width           class
count   150.000000   150.000000  150.000000   150.000000             150
unique         NaN          NaN         NaN          NaN               3
top            NaN          NaN         NaN          NaN  Iris-virginica
freq           NaN          NaN         NaN          NaN              50
mean      5.843333     3.054000    3.758667     1.198667             NaN
std       0.828066     0.433594    1.764420     0.763161             NaN
min       4.300000     2.000000    1.000000     0.100000             NaN
25%       5.100000     2.800000    1.600000     0.300000             NaN
50%       5.800000     3.000000    4.350000     1.300000             NaN
75%       6.400000     3.300000    5.100000     1.800000             NaN
max       7.900000     4.400000    6.900000     2.500000             NaN

### count:
Count of values excluding NaN
Computed for all columns
### unique:
Count of unique values excluding NaN
Computed only for categorical (non numeric) type of columns (or series)
### top:
Most commonly occuring value among all values in a column (or series)
Computed only for categorical (non numeric) type of columns (or series)
### freq:
Frequency (or count of occurance) of most commonly occuring value among all values in a column (or series)
Computed only for categorical (non numeric) type of columns (or series)
### mean:
Mean (Average) of all numeric values in a column (or series)
Computed only for numeric type of columns (or series)
### std:
Standard Deviation of all numeric values in a column (or series)
Computed only for numeric type of columns (or series)
### min:
Minimum value of all numeric values in a column (or series)
Computed only for numeric type of columns (or series)
25%, 50%, 75%:
Given percentile values (quantile 1, 2 and 3 respectively) of all numeric values in a column (or series)
Computed only for numeric type of columns (or series)
### max:
Maximum value of all numeric values in a column (or series)
Computed only for numeric type of columns (or series)

##### Now, writing individual funtion for each features of describe menthod 

### Count

In [30]:
#This is applicable on all type of data numeric as well as categorical 
def count_method(df):
    count={}
    for col in df.columns:
        count[col]=df[col].count()
    return count

In [31]:
count=count_method(df)

In [32]:
print(count)

{'sepal_len': 150, 'sepal_width': 150, 'petal_len': 150, 'petal_width': 150, 'class': 150}

### Unique

In [49]:
#Only applicable on Categorical type of columns
def count_unique(val):
    count = 0
    for x in range(len(val)-1):
        if val[x] != val[x+1]:
            count += 1
    return count

def unique_method(df):
    unique={}
    for col in df.columns:
        if df[col].dtype == 'object':
            unique[col] = count_unique(list(df[col]))
        else :
            unique[col] = 'NaN'

In [50]:
unique = unique_method(df)

Iris-setosa
range(0, 149)