Getting Started with Pandas

In [2]:
import pandas as pd
#Create Tabuler using Pandas, Pandas can interprate Dictionary and form a tabuler where all Keys will represent 
#column name

myDict={'Name':'John','Age':40,'Address':'NY'}
myTable=pd.DataFrame(myDict,index=[0])
print(myTable)

#The DataFrame in Pandas creats tabular data, a bit like a spreadsheet

   Name  Age Address
0  John   40      NY

In [10]:
#Now Create Multi-Rows tables
myDict1={'Name':['John','Tom','Jonny','James'],
         'Age':[40,30,45,28],
         'Address':['NY','NJ','LA','SNF']
        }
#seriesData=pd.Series(myDict1)
myTable=pd.DataFrame(myDict1,index=[0,1,2,3])
print(myTable)

#or we can do somthing like this 1. First covert rows into series and then create the dataFrame 
seriesData=pd.Series(myDict1).to_frame()
dataTable=pd.DataFrame(seriesData)
print(dataTable)

#or
dictData = pd.DataFrame.from_dict(myDict1)
print(dictData)

dictData.to_csv("myDict.csv")
dictData.to_excel("myDict.xlsx",sheet_name="Dictionary")
dictData['Name']
dictData.Address

    Name  Age Address
0   John   40      NY
1    Tom   30      NJ
2  Jonny   45      LA
3  James   28     SNF
                                 0
Name     [John, Tom, Jonny, James]
Age               [40, 30, 45, 28]
Address          [NY, NJ, LA, SNF]
    Name  Age Address
0   John   40      NY
1    Tom   30      NJ
2  Jonny   45      LA
3  James   28     SNF

0     NY
1     NJ
2     LA
3    SNF
Name: Address, dtype: object

In [12]:
#No Add New Column to DataFrame
dictData['NewCol']=[1,2,3,4]
#dictData.NewCol2 = [1,2,3,4]
print(dictData)

    Name  Age Address  NewCol
0   John   40      NY       1
1    Tom   30      NJ       2
2  Jonny   45      LA       3
3  James   28     SNF       4

Reading excel files

In [5]:
df = pd.read_excel('Sales.xlsx')

In [6]:
print(df)

   ID   Name  Age  Salary
0   1    Abe   61  140000
1   2    Bob   34   44000
2   5  Chris   34   40000
3   7    Dan   41   52000
4   8    Ken   57  115000
5  11    Joe   38   38000

By Default it will read the First sheet, to read sheet wise we must pass sheet_name='Sheet Name'

In [7]:
df = pd.read_excel('Sales.xlsx',sheet_name='Customers')
print(df)

   ID      Name      City Industry Type
0   4  Samsonic  pleasant             J
1   6  Panasung   oaktown             J
2   7    Samony   jackson             B
3   9    Orange   Jackson             B

In [8]:
df = pd.read_excel('tob-data-user.xlsx')
df

                 Time      gNodeB Name  DL Traffic Volume(GB)(GB)
430  2020-03-15 23:00  KBR0977-P3_SRAN                    75.5009
196  2020-03-12 17:00  KBR0977-P3_SRAN                    63.1608
409  2020-03-15 16:00  KBR0977-P3_SRAN                    54.2645
71   2020-03-10 23:00  KBR0977-P3_SRAN                    47.7336
91   2020-03-11 06:00  KBR0977-P3_SRAN                    43.6381
143  2020-03-11 23:00  KBR0977-P3_SRAN                    42.5595
481  2020-03-16 16:00  KBR0977-P3_SRAN                    39.8689
529  2020-03-17 08:00  KBR0977-P3_SRAN                    30.8999
167  2020-03-12 07:00  KBR0977-P3_SRAN                    30.8577
432  2020-03-16 00:00  KBR0977-P3_SRAN                    26.4155
407  2020-03-15 15:00  KBR0977-P3_SRAN                    25.8671
146  2020-03-12 00:00  KBR0977-P3_SRAN                    23.2082
88   2020-03-11 05:00  KBR0977-P3_SRAN                    22.2142
200  2020-03-12 18:00  KBR0977-P3_SRAN                    22.1849
80   2020-03-11 02:00  KBR0977-P3_SRAN                    18.3921
411  2020-03-15 17:00  KBR0977-P3_SRAN                    18.2659
127  2020-03-11 18:00  KBR0977-P3_SRAN                    17.9879
478  2020-03-16 15:00  KBR0977-P3_SRAN                    17.9403
499  2020-03-16 22:00  KBR0977-P3_SRAN                    17.9331
502  2020-03-16 23:00  KBR0977-P3_SRAN                    17.1931
374  2020-03-15 04:00  KBR0977-P3_SRAN                    16.0635
55   2020-03-10 18:00  KBR0977-P3_SRAN                    16.0424
67   2020-03-10 22:00  KBR0977-P3_SRAN                    15.7995
131  2020-03-11 19:00  KBR0977-P3_SRAN                    15.7821
255  2020-03-13 13:00  KBR0977-P3_SRAN                    15.3060
339  2020-03-14 17:00  KBR0977-P3_SRAN                    14.9312
49   2020-03-10 16:00  KBR0977-P3_SRAN                    14.9139
50   2020-03-10 16:00  KBR0977-P3_SRAN                    14.7988
467  2020-03-16 11:00  KBR0977-P3_SRAN                    14.5893
279  2020-03-13 21:00  KBR0977-P3_SRAN                    14.5360
..                ...              ...                        ...
429  2020-03-15 23:00  KBR0977-P3_SRAN                     9.5012
30   2020-03-10 10:00  KBR0977-P3_SRAN                     9.4861
33   2020-03-10 11:00  KBR0977-P3_SRAN                     9.3904
212  2020-03-12 22:00  KBR0977-P3_SRAN                     9.2425
132  2020-03-11 20:00  KBR0977-P3_SRAN                     9.2224
240  2020-03-13 08:00  KBR0977-P3_SRAN                     9.0872
469  2020-03-16 12:00  KBR0977-P3_SRAN                     9.0780
354  2020-03-14 22:00  KBR0977-P3_SRAN                     9.0471
63   2020-03-10 21:00  KBR0977-P3_SRAN                     8.8920
404  2020-03-15 14:00  KBR0977-P3_SRAN                     8.8539
179  2020-03-12 11:00  KBR0977-P3_SRAN                     8.6196
331  2020-03-14 14:00  KBR0977-P3_SRAN                     8.5764
487  2020-03-16 18:00  KBR0977-P3_SRAN                     8.5736
168  2020-03-12 08:00  KBR0977-P3_SRAN                     8.5602
210  2020-03-12 22:00  KBR0977-P3_SRAN                     8.4019
213  2020-03-12 23:00  KBR0977-P3_SRAN                     8.3910
243  2020-03-13 09:00  KBR0977-P3_SRAN                     8.3202
46   2020-03-10 15:00  KBR0977-P3_SRAN                     8.3192
408  2020-03-15 16:00  KBR0977-P3_SRAN                     8.3098
251  2020-03-13 11:00  KBR0977-P3_SRAN                     8.2858
270  2020-03-13 18:00  KBR0977-P3_SRAN                     8.2363
35   2020-03-10 11:00  KBR0977-P3_SRAN                     8.0811
102  2020-03-11 10:00  KBR0977-P3_SRAN                     7.9973
351  2020-03-14 21:00  KBR0977-P3_SRAN                     7.9414
29   2020-03-10 09:00  KBR0977-P3_SRAN                     7.9374
505  2020-03-17 00:00  KBR0977-P3_SRAN                     7.9283
2    2020-03-10 00:00  KBR0977-P3_SRAN                     7.9012
70   2020-03-10 23:00  KBR0977-P3_SRAN                     7.8961
25   2020-03-10 08:00  KBR0977-P3_SRAN                     7.8464
176  2020-03-12 10:00  KBR0977-P3_SRAN                     7.8365

[100 rows x 3 columns]

In [9]:
df.shape

(100, 3)

In [10]:
len(df['DL Traffic Volume(GB)(GB)'])

100

In [11]:
df.columns

Index(['Time', 'gNodeB Name', 'DL Traffic Volume(GB)(GB)'], dtype='object')

Since it is a huge table to lets try to print some use full info only

In [12]:
df.head()

                 Time      gNodeB Name  DL Traffic Volume(GB)(GB)
430  2020-03-15 23:00  KBR0977-P3_SRAN                    75.5009
196  2020-03-12 17:00  KBR0977-P3_SRAN                    63.1608
409  2020-03-15 16:00  KBR0977-P3_SRAN                    54.2645
71   2020-03-10 23:00  KBR0977-P3_SRAN                    47.7336
91   2020-03-11 06:00  KBR0977-P3_SRAN                    43.6381

In [13]:
df.tail()

                 Time      gNodeB Name  DL Traffic Volume(GB)(GB)
505  2020-03-17 00:00  KBR0977-P3_SRAN                     7.9283
2    2020-03-10 00:00  KBR0977-P3_SRAN                     7.9012
70   2020-03-10 23:00  KBR0977-P3_SRAN                     7.8961
25   2020-03-10 08:00  KBR0977-P3_SRAN                     7.8464
176  2020-03-12 10:00  KBR0977-P3_SRAN                     7.8365

In [14]:
df['DL Traffic Volume(GB)(GB)'].max()

75.5009

In [15]:
df['DL Traffic Volume(GB)(GB)'].min()

7.8365

In [16]:
df['DL Traffic Volume(GB)(GB)'].median()

11.3454

In [17]:
df['DL Traffic Volume(GB)(GB)'].sum()

1525.4516999999998

In [18]:
df['DL Traffic Volume(GB)(GB)'].mean()

15.254517

In [19]:
#DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', 
#                                 na_position='last', ignore_index=False, key=None)
df['DL Traffic Volume(GB)(GB)'].sort_values(axis=0, ascending=False).head()

430    75.5009
196    63.1608
409    54.2645
71     47.7336
91     43.6381
Name: DL Traffic Volume(GB)(GB), dtype: float64

In [20]:
df['DL Traffic Volume(GB)(GB)'].unique()

array([75.5009, 63.1608, 54.2645, 47.7336, 43.6381, 42.5595, 39.8689,
       30.8999, 30.8577, 26.4155, 25.8671, 23.2082, 22.2142, 22.1849,
       18.3921, 18.2659, 17.9879, 17.9403, 17.9331, 17.1931, 16.0635,
       16.0424, 15.7995, 15.7821, 15.306 , 14.9312, 14.9139, 14.7988,
       14.5893, 14.536 , 14.2256, 13.8531, 13.8063, 13.3795, 13.3332,
       13.142 , 12.9819, 12.6724, 12.6371, 12.5961, 12.4941, 12.4699,
       12.3351, 12.1612, 11.9017, 11.7964, 11.7335, 11.6534, 11.5136,
       11.4519, 11.2389, 11.1506, 11.1503, 11.0187, 10.9645, 10.9064,
       10.7658, 10.5256, 10.5033, 10.3868, 10.2521, 10.2468, 10.1821,
       10.1549, 10.108 ,  9.9256,  9.8972,  9.8955,  9.7963,  9.6349,
        9.5012,  9.4861,  9.3904,  9.2425,  9.2224,  9.0872,  9.078 ,
        9.0471,  8.892 ,  8.8539,  8.6196,  8.5764,  8.5736,  8.5602,
        8.4019,  8.391 ,  8.3202,  8.3192,  8.3098,  8.2858,  8.2363,
        8.0811,  7.9973,  7.9414,  7.9374,  7.9283,  7.9012,  7.8961,
        7.8464,  7.8365])

In [21]:
len(df['Time'].unique())

86

In [22]:
#Change the type of Column 
type(df['DL Traffic Volume(GB)(GB)'])
df['DL Traffic Volume(GB)(GB)'].head()

430    75.5009
196    63.1608
409    54.2645
71     47.7336
91     43.6381
Name: DL Traffic Volume(GB)(GB), dtype: float64

In [23]:
df['DL Traffic Volume(GB)(GB)'] = df['DL Traffic Volume(GB)(GB)'].astype('int')
df['DL Traffic Volume(GB)(GB)'].head()

430    75
196    63
409    54
71     47
91     43
Name: DL Traffic Volume(GB)(GB), dtype: int64

In [24]:
df['DL Traffic Volume(GB)(GB)'].apply(lambda x:  x > 5).head()

430    True
196    True
409    True
71     True
91     True
Name: DL Traffic Volume(GB)(GB), dtype: bool

In [25]:
df['Time'][df['DL Traffic Volume(GB)(GB)'].apply(lambda x:  x > 5)].head()

430    2020-03-15 23:00
196    2020-03-12 17:00
409    2020-03-15 16:00
71     2020-03-10 23:00
91     2020-03-11 06:00
Name: Time, dtype: object

In [26]:
#Dealing with Date and time in Pandas
df['Time'].max()

'2020-03-17 08:00'

In [27]:
df['Time'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

Here Format of time is of object type, we can do date time stander operation directly on Object, we need to change
its type first

In [38]:

df['Time'].head()

430   2020-03-15 23:00:00
196   2020-03-12 17:00:00
409   2020-03-15 16:00:00
71    2020-03-10 23:00:00
91    2020-03-11 06:00:00
Name: Time, dtype: datetime64[ns]

In [39]:
df['Time'] = df['Time'].astype('datetime64')

In [40]:
df['Time'].head()

430   2020-03-15 23:00:00
196   2020-03-12 17:00:00
409   2020-03-15 16:00:00
71    2020-03-10 23:00:00
91    2020-03-11 06:00:00
Name: Time, dtype: datetime64[ns]

In [41]:
df['Time'].max()

Timestamp('2020-03-17 08:00:00')

In [42]:
df['Time'].dt.month.head()

430    3
196    3
409    3
71     3
91     3
Name: Time, dtype: int64

In [43]:
df['Time'].dt.day.head()

430    15
196    12
409    15
71     10
91     11
Name: Time, dtype: int64

In [52]:
df['Time'][df['Time'].dt.day > 5 ].head()

430   2020-03-15 23:00:00
196   2020-03-12 17:00:00
409   2020-03-15 16:00:00
71    2020-03-10 23:00:00
91    2020-03-11 06:00:00
Name: Time, dtype: datetime64[ns]

In [69]:
df.Time = pd.to_datetime(df.Time)

In [77]:
df.head()

                   Time      gNodeB Name  DL Traffic Volume(GB)(GB)
430 2020-03-15 23:00:00  KBR0977-P3_SRAN                         75
196 2020-03-12 17:00:00  KBR0977-P3_SRAN                         63
409 2020-03-15 16:00:00  KBR0977-P3_SRAN                         54
71  2020-03-10 23:00:00  KBR0977-P3_SRAN                         47
91  2020-03-11 06:00:00  KBR0977-P3_SRAN                         43