In [16]:
import json

In [17]:
with open("client_config.json","r+") as fs:
    data=json.load(fs)
    print(data)

{'ClientList': ['Client1', 'Client2', 'Client3'], 'ClientDB': 'clientdb', 'Client1': {'Name': 'Tom', 'Mobile': '1234567890', 'IP': '127.0.0.1', 'Port': 22221, 'contactsTable': 'contact_1234567890', 'mainTable': 'usr_1234567890'}, 'Client2': {'Name': 'John', 'Mobile': '2345678901', 'IP': '127.0.0.1', 'Port': 22222, 'contactsTable': 'contact_3456789012', 'mainTable': 'usr_3456789012'}, 'Client3': {'Name': 'James', 'Mobile': '3456789012', 'IP': '127.0.0.1', 'Port': 22223, 'contactsTable': 'contact_3456789012', 'mainTable': 'usr_3456789012'}}

In [18]:
data['ClientList']

['Client1', 'Client2', 'Client3']

In [19]:
MAIN_TABLE_DISCRIPTON = (
    "CREATE TABLE `{}` ("
    "  `id` int(11) NOT NULL AUTO_INCREMENT,"
    "  `time` varchar(128) ,"
    "  `contacts` varchar(16) NOT NULL,"
    "  `status` enum('Online','Offline') NOT NULL,"
    "  `reply_status` enum('no','yes') NOT NULL,"
    "  `message` varchar(2048) ,"
    "  PRIMARY KEY (`id`)"
    ") ENGINE=InnoDB")

NameError: name 'MAIN_TABLE_NAME' is not defined